{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
  {% include 'nav/nav.html' %}
  {% block content %}

  {% endblock content %}

  {% block modal %}
    <div class="modal fade" tabindex="-1" id="loginModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Einloggen</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" id="loginForm">
              {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label">Benutzername</label>
                <input type="email" class="form-control" id="username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            <button type="button" class="btn btn-primary" form="loginForm" type="submit" value="Login">Login</button>
          </div>
        </div>
      </div>
    </div>
  {% endblock modal %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>