<!--Richard Repenning - Event Detail Page-->
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mt-5 gap-5">
            <div class="col col-lg-8 shadow p-3">
                <h1>{{ event.title }}</h1>
                <p class="mt-5">{{ event.description }}</p>
            </div>
            <div class="col shadow p-3">
                <h4>Zeitraum</h4>
                <hr/>
                <div>
                    <h5>Datum</h5>
                    {{ event.date_from|date:"d.m.Y" }} - {{ event.date_to|date:"d.m.Y" }}
                    <h5 class="mt-3">Uhrzeit</h5>
                    {{ event.date_from|date:"H:i" }} - {{ event.date_to|date:"H:i" }} Uhr
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col shadow p-3">
                <h2>Veranstaltungsort</h2>
                <p>{{ event.location }}</p>
            </div>
        </div>
    </div>
{% endblock content %}