<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/events" class="nav-link">Events</a>
        </li>
        <li>
          <a href="/locations" class="nav-link">Locations</a>
        </li>
        <li>
        {% if user.is_authenticated %}
        <button class="btn btn-primary">Account</button>
        {% else %}
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        {% endif %}
      </li>
      </ul>
    </div>
  </div>
</nav>