<!-- Richard Repenning - Signup Form Template - Visitors can create a new account -->

{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto mt-5 shadow p-4">
                <h2>Registrieren</h2>
                <form method="post" action=".">
                    {% csrf_token %}

                    <h3>Persönliche Daten</h3>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Vor-/Nachname</span>
                        {{ form.first_name|add_class:'form-control' }}
                        {{ form.last_name|add_class:'form-control' }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">E-Mail</span>
                        {{ form.email|add_class:'form-control' }}
                    </div>
                    <hr/>
                    <h3>Account</h3>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Benutzername</span>
                        {{ form.username|add_class:'form-control' }}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Password 1</span>
                        {{ form.password1|add_class:'form-control' }}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Password 2</span>
                        {{ form.password2|add_class:'form-control' }}
                    </div>

                    <!-- Future TODO: Translate form errors and improve them -->
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    <button class="btn btn-primary mb-3" type="submit">Registrieren</button>
                </form>
                <p>Du hast bereits einen Account? Logge dich <a href="{% url 'login' %}">hier</a> ein!</p>
            </div>
        </div>
    </div>
{% endblock content %}